* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  background-color: #191927;
  overflow: auto;
}
.header {
  overflow: hidden;
  background-color: #191920;
  padding: 20px 10px;
}
.header a {
  float: left;
  color: #f0ffff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  font-family: Calibri;
  line-height: 25px;
  border-radius: 5px;
}
#img1 {
  width: 450px;
  height: 49px;
}
.header a:hover {
  border: 1px #00fa9a solid;
  padding: 10px;
  color: #f0ffff;
}
.header a.active {
  background-color: #191920;
  color: #f0ffff;
}

.header-right {
  float: right;
}
.section1 h1 {
  margin-top: 100px;
  text-align: center;
  text-decoration: none;
  font-family: calibri;
  font-size: xx-large;
  font-weight: bold;
  color: #f0ffff;
}
.section1 span {
  color: #00fa9a;
}
.section1 p {
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  font-family: Calibri;
  font-size: medium;
  font-weight: bold;
  color: #f0ffff;
}
.section2 img {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  height: 700px;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* .section2 img:hover {
  display: block;
  height: 700px;
  content: url(./moonsamabrandkit/Moonsama132.png);
} potrebna promena*/
/* width="450" height="39"> moonsama header */
.section3 {
  background-image: url(./moonsamabrandkit/exomonsterbackground.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
}
.section3 h1 {
  font-family: calibri;
  font-size: 25px;
  font-weight: bold;
  color: #00fa9a;
  margin-left: 25px;
  padding-top: 50px;
}
.section3 h2 {
  font-family: calibri;
  font-size: xx-large;
  font-weight: bold;
  color: #f0ffff;
  margin-left: 25px;
  line-height: 10px;
}
.section3 p {
  font-family: calibri;
  font-size: 18px;
  text-indent: 7px;
  color: #f0ffff;
  margin-left: 25px;
}
.section3 img {
  width: 187.02px;
  height: 40px;
  margin-left: 25px;
}
.section3 button {
  font-size: 18px;
  font-family: calibri;
  background-color: transparent;
  border: none;
  color: #f0ffff;
  margin-left: 25px;
  margin-top: 20px;
}
.section3 button:hover {
  border: 1px solid #00fa9a;
  border-radius: 5px;
}
#span1 {
  color: #00fa9a;
}
